OpenMensa_Parser/FirstAttempt/bin
OpenMensa_Parser/FirstAttempt/obj
OpenMensa_Parser/FirstAttempt/.vscode
OpenMensa_Parser/OpenMensa_Parser/bin
OpenMensa_Parser/OpenMensa_Parser/obj
OpenMensa_Parser/OpenMensa_Parser/.vscode
OpenMensa_Parser/OpenMensa_Parser/Menu.xml
